# PostgreSQL
DJANGO_EMAIL_USERNAME=user@gmail.com
DJANGO_EMAIL_PASSWORD=pass

DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=y3i-t0i%6@tzxh9y=(851d&4wbg87pxp+j(m(o4p4-uikqob%w

DATABASE_URL=postgres://drklauns:drklauns@db/drklauns
